

.tips-container {
  width: 60vw;
  margin: 2rem auto;
  border-radius: 0.25rem;
  padding: 1.5rem 2rem;
  max-width: 1170px;
  display: grid;
  gap: 1rem 2rem;
}

@media screen and (max-width: 640px) {
  .tips-container {
    width: 90vw;
  }
}
