@media screen and (max-width: 640px) {
  .section-container{
  width: 70vw;
  grid-template-columns: 1fr;
  }
}

//header bar

.cart-bar {
  height:4rem;
  background: var(--color-secondary);
  display: flex;
  padding: 0 1rem;
  justify-content: flex-end;
  align-items: center;
}
