.tip {
  padding: 1rem 1.5rem;
  border: 2px solid #eae6eb;
  margin-bottom: 1rem;
  border-radius: 0.25rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);

  .tip-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  h3 {
    text-transform: none;
    line-height: 1.5;
    margin-bottom: 0;
    font-size: 1.3rem;
  }

  p {
    color: var(--color-primary);
    margin-bottom: 0;
    margin-top: 0.5rem;
    font-size: 1rem;
  }
}

.btn {
  background: transparent;
  border-color: transparent;
  width: 2rem;
  height: 2rem;
  background: #eae6eb;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  color: var(--color-cta);
  cursor: pointer;
  margin-left: 1rem;
  align-self: center;
  min-width: 2rem;
}
