nav {
  height:4rem;
  background: var(--color-primary);
  box-shadow: var(--color-primary);
}
.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;

  .nav-toggle {
    font-size: 1.5rem;
    color: var(--color-cta);
    background: transparent;
    border-color: transparent;
    transition: var(--transition);
    cursor: pointer;

    &:hover {
      transform: rotate(90deg);
    }
  }

  .logo {
    height: 40px;
    font-size: 2rem;
    color: var(--color-cta);

    &:hover {
      color: var(--color-cta-variant);
    }
  }
}

.nav-link {
  color: var(--color-cta);
  font-size: 1rem;
  text-transform: capitalize;
  letter-spacing: 0.1rem;
  display: block;
  padding: 0.5rem 1rem;
  transition: var(--transition);

  &:hover{
  color: var(--color-cta-variant);
  padding-left: 1.5rem;
  }
}

.social-icons {
  display: none;
}
.links-container {
  height: 0;
  overflow: hidden;
  transition: var(--transition);
}
// .show-container {
//   height: 10rem;
// }

@media screen and (min-width: 800px) {
  .nav-center {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;

    .nav-header {
      padding: 0;

      .nav-toggle {
        display: none;
      }
    }
  }

  .links-container {
    height: auto !important;
    background: var(--color-primary);
    .links {
      display: flex;

      .nav-link {
        padding: 0;
        margin: 0 1rem;
        &:hover {
          color: var(--color-cta-variant);
        }
      }
    }

  }

  .social-icons {
    display: flex;

    a {
      margin: 0 0.5rem;
      font-size: 1.5rem;
      color: var(--color-cta);
      transition: var(--transition);

      &:hover {
        color: var(--color-cta-variant);
      }
    }
  }
}
