.landing {
  background-image: url("./backgroundh.jpg");
  background-size: cover;
  height: 100vh;
  display: relative;

  header {
    font-size: 5rem;
    font-family: "Charmonman", sans-serif;
    position: absolute;
    top: 8rem;
    right: 10rem;
    width: 31rem;
  }
}

@media screen and (max-width: 640px) {
  .landing {
    background-image: url("./backgroundv.jpg");
    background-size: cover;

    header {
      font-size: 3.5rem;
      right:0;
      top:0;
      margin: 7rem auto;
      width:20rem;
    }
  }
}
