.detail-container {
  width: 50vw;
  margin: 0 auto;
  max-width: 1170px;
}

.image {
  width: 90%;
  margin: 0 auto;
  object-fit: cover;

  img{
    width:100%;
  }
}
h2 {
  margin-top:1.5rem;
}
p{
  font-size: 1.25rem;
}
