@import url('https://fonts.googleapis.com/css2?family=Charmonman&family=Montserrat:wght@300;400;600;700&family=Open+Sans:wght@300&display=swap');

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --color-bg:#f1f5f2;
  --color-primary:#6f8a81;
  --color-secondary:#b0c8b7;
  --color-cta:#ff9a76;
  --color-cta-variant:#f0b29b;
  --transition: all 400ms ease;
}
body {
  font-family: 'Montserrat', sans-serif;
  background: var(--color-bg);
  color: var(--color-primary);
  line-height: 1.5;
  font-size: 0.875rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4 {
  letter-spacing: 0.1rem;
  text-transform: capitalize;
  line-height: 1.25;
  margin-bottom: 0.75rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.25rem;
}
h4 {
  font-size: 0.875rem;
}
p {
  margin-bottom: 1.25rem;
}
main{
  width: 90vw;
  margin: 2rem auto;
}
.btn-primary {
  background-color: #ffffff;
  border: 2px solid var(--color-cta);
  color: var(--color-cta);
  height:50px;
  width: 150px;
  font-size: 16px;
  font-weight: 600;
  border-radius: 10px;
  padding: 15px 10px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-cta);
    color:#ffffff;
  }
}


//main title styles
.page-title {
  text-align: center;
  margin-bottom: 2rem;

  .underline {
    width: 5rem;
    height: 0.25rem;
    background: var(--color-secondary);
    margin-left: auto;
    margin-right: auto;
  }
}
